<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


       <bean id="key" class="io.jsonwebtoken.impl.crypto.MacProvider"
               factory-method="generateKey"></bean>
       <bean id="userDao" class="ua.pp.kaha.dao.MeasurementDAO"></bean>

</beans>